# Build and Object Folders
bin/
obj/

#User Specific Files
*.user
*.suo
*.userprefs

# Vim Specific Files
*.swp

#Resource Caches
_ReSharper.*
*.sln.cache

#Mono parser cache files
*.pidb

# GoldParser generator log, and possibly others
*.log

# NUnit
test-results/
*.VisualState.xml
TestResult.xml

# NCrunch
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*/
*.ldf
*.mdf
