<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="defaultExecutionContext" type="Pash.Configuration.ExecutionContextConfigurationSection"/>
  </configSections>
  <defaultExecutionContext xmlns="http://pash.sourceforge.net/pash/configuration">
    <!--
    This is just a minimal sample configuration file that shows how to declare
    the configuration sections.
    
    Because an XML Schema Definition (XSD) is generated for each configuration
    section, it should be trivial to edit these files because you have
    IntelliSense on the XML definition.
    -->
  </defaultExecutionContext>
</configuration>
