<#@ include file="ConfigurationSectionDesignerSchema.tt" #>
<#@ ConfigurationSectionDesigner processor="ConfigurationSectionDesignerDirectiveProcessor" requires="fileName='ConfigurationSection.csd'" #>