<#@ include file="ConfigurationSectionDesignerCode.tt" #>
<#@ ConfigurationSectionDesigner processor="ConfigurationSectionDesignerDirectiveProcessor" requires="fileName='ConfigurationSection.csd'" #>