<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="defaultExecutionContext" type="Pash.Configuration.ExecutionContextConfigurationSection, Pash.ConfigurationSection"/>
  </configSections>
  <defaultExecutionContext xmlns="http://pash.sourceforge.net/pash/configuration">
    <psSnapins>
      <psSnapin type="System.Management.Automation.PSCorePSSnapIn, System.Management.Automation" />
      <psSnapin type="Microsoft.PowerShell.PSUtilityPSSnapIn, Microsoft.PowerShell.Commands.Utility" />
      <psSnapin type="Microsoft.Commands.Management.PSManagementPSSnapIn, Microsoft.Commands.Management" />
    </psSnapins>
    <functions>
      <function name="prompt" value="'PS ' + $(Get-Location) + '> '" />
      <!-- function name="prompt" value="'PS ' + $(Get-Location) + $(if ($nestedpromptlevel -ge 1) { '>>' }) + '> '" / -->
      <!-- function name="help" value="HelpPagingFunction.txt" type="file" />
      <function name="man" value="HelpPagingFunction.txt" type="file" />
      <function name="mkdir" value="param([string[]]$paths); New-Item -type directory -path $paths" />
      <function name="md" value="param([string[]]$paths); New-Item -type directory -path $paths" />
      <function name="TabExpansion" value="TabExpansionFunction.txt" type="file" />
      <function name="Clear-Host" value="$spaceType = [System.Management.Automation.Host.BufferCell]; $space = [System.Activator]::CreateInstance($spaceType); $space.Character = ' '; $space.ForegroundColor = $host.ui.rawui.ForegroundColor; $space.BackgroundColor = $host.ui.rawui.BackgroundColor; $rectType = [System.Management.Automation.Host.Rectangle]; $rect = [System.Activator]::CreateInstance($rectType); $rect.Top = $rect.Bottom = $rect.Right = $rect.Left = -1; $Host.UI.RawUI.SetBufferContents($rect, $space); $coordType = [System.Management.Automation.Host.Coordinates]; $origin = [System.Activator]::CreateInstance($coordType); $Host.UI.RawUI.CursorPosition = $origin; " />
      <function name="more" value="param([string[]]$paths);  if(($paths -ne $null) -and ($paths.length -ne 0))  {    foreach ($local:file in $paths)    {        Get-Content $local:file | Out-Host -p    }  }  else { $input | Out-Host -p } " / -->
      <function name="A:" value="Set-Location A:" />
      <function name="B:" value="Set-Location B:" />
      <function name="C:" value="Set-Location C:" />
      <function name="D:" value="Set-Location D:" />
      <function name="E:" value="Set-Location E:" />
      <function name="F:" value="Set-Location F:" />
      <function name="G:" value="Set-Location G:" />
      <function name="H:" value="Set-Location H:" />
      <function name="I:" value="Set-Location I:" />
      <function name="J:" value="Set-Location J:" />
      <function name="K:" value="Set-Location K:" />
      <function name="L:" value="Set-Location L:" />
      <function name="M:" value="Set-Location M:" />
      <function name="N:" value="Set-Location N:" />
      <function name="O:" value="Set-Location O:" />
      <function name="P:" value="Set-Location P:" />
      <function name="Q:" value="Set-Location Q:" />
      <function name="R:" value="Set-Location R:" />
      <function name="S:" value="Set-Location S:" />
      <function name="T:" value="Set-Location T:" />
      <function name="U:" value="Set-Location U:" />
      <function name="V:" value="Set-Location V:" />
      <function name="W:" value="Set-Location W:" />
      <function name="X:" value="Set-Location X:" />
      <function name="Y:" value="Set-Location Y:" />
      <function name="Z:" value="Set-Location Z:" />
    </functions>
    <aliases>
      <alias name="gcm" definition="Get-Command" scope="global" />
      <alias name="pwd" definition="Get-Location" />
      <alias name="dir" definition="Get-ChildItem" />
      <alias name="ls" definition="Get-ChildItem" />
      <alias name="cd" definition="Set-Location" />
      <alias name="chdir" definition="Set-Location" />
      <alias name="set" definition="Set-Variable" />

      <alias name="echo" definition="Write-Output" />
      <alias name="sort" definition="Sort-Object" />

      <!-- alias name="type" definition="Get-Content" />

      <alias name="ac" definition="Add-Content" />
      <alias name="asnp" definition="Add-PSSnapin" />
      <alias name="cat" definition="Get-Content" />
      <alias name="clc" definition="Clear-Content" />
      <alias name="clear" definition="Clear-Host" />
      <alias name="cls" definition="Clear-Host" />
      <alias name="cli" definition="Clear-Item" />
      <alias name="clp" definition="Clear-ItemProperty" />
      <alias name="clv" definition="Clear-Variable" />
      <alias name="copy" definition="Copy-Item" />
      <alias name="cp" definition="Copy-Item" />
      <alias name="cpi" definition="Copy-Item" />
      <alias name="cpp" definition="Copy-ItemProperty" />
      <alias name="cvpa" definition="Convert-Path" />
      <alias name="diff" definition="Compare-Object" />
      <alias name="epal" definition="Export-Alias" />
      <alias name="epcsv" definition="Export-Csv" />
      <alias name="fc" definition="Format-Custom" />
      <alias name="fl" definition="Format-List" />
      <alias name="foreach" definition="ForEach-Object" />
      <alias name="%" definition="ForEach-Object" />
      <alias name="ft" definition="Format-Table" />
      <alias name="fw" definition="Format-Wide" />
      <alias name="gal" definition="Get-Alias" />
      <alias name="gc" definition="Get-Content" />
      <alias name="gci" definition="Get-ChildItem" />
      <alias name="gdr" definition="Get-PSDrive" />
      <alias name="ghy" definition="Get-History" />
      <alias name="gi" definition="Get-Item" />
      <alias name="gl" definition="Get-Location" />
      <alias name="gm" definition="Get-Member" />
      <alias name="gp" definition="Get-ItemProperty" />
      <alias name="gps" definition="Get-Process" />
      <alias name="group" definition="Group-Object" />
      <alias name="gsv" definition="Get-Service" />
      <alias name="gsnp" definition="Get-PSSnapin" />
      <alias name="gu" definition="Get-Unique" />
      <alias name="gv" definition="Get-Variable" />
      <alias name="gwmi" definition="Get-WmiObject" />
      <alias name="h" definition="Get-History" />
      <alias name="history" definition="Get-History" />
      <alias name="iex" definition="Invoke-Expression" />
      <alias name="ihy" definition="Invoke-History" />
      <alias name="r" definition="Invoke-History" />
      <alias name="ii" definition="Invoke-Item" />
      <alias name="ipal" definition="Import-Alias" />
      <alias name="ipcsv" definition="Import-Csv" />
      <alias name="kill" definition="Stop-Process" />
      <alias name="lp" definition="Out-Printer" />
      <alias name="mount" definition="New-PSDrive" />
      
      <alias name="move" definition="Move-Item" />
      <alias name="mv" definition="Move-Item" />
      <alias name="mi" definition="Move-Item" />
      
      <alias name="mp" definition="Move-ItemProperty" />
      <alias name="nal" definition="New-Alias" />
      <alias name="ndr" definition="New-PSDrive" />
      <alias name="ni" definition="New-Item" />
      <alias name="nv" definition="New-Variable" />
      <alias name="oh" definition="Out-Host" />

      <alias name="ren" definition="Rename-Item" />
      <alias name="rdr" definition="Remove-PSDrive" />
      <alias name="del" definition="Remove-Item" />
      <alias name="erase" definition="Remove-Item" />
      <alias name="rd" definition="Remove-Item" />
      <alias name="ri" definition="Remove-Item" />
      <alias name="rm" definition="Remove-Item" />
      <alias name="rmdir" definition="Remove-Item" />
      <alias name="rni" definition="Rename-Item" />
      <alias name="rnp" definition="Rename-ItemProperty" />
      <alias name="rp" definition="Remove-ItemProperty" />
      <alias name="rsnp" definition="Remove-PSSnapin" />
      <alias name="rv" definition="Remove-Variable" />

      <alias name="rvpa" definition="Resolve-Path" />
      <alias name="sal" definition="Set-Alias" />
      <alias name="sasv" definition="Start-Service" />
      <alias name="sc" definition="Set-Content" />
      <alias name="select" definition="Select-Object" />
      <alias name="si" definition="Set-Item" />
      <alias name="sl" definition="Set-Location" />
      <alias name="sleep" definition="Start-Sleep" />
      <alias name="sp" definition="Set-ItemProperty" />
      <alias name="spps" definition="Stop-Process" />
      <alias name="spsv" definition="Stop-Service" />
      <alias name="sv" definition="Set-Variable" />
      <alias name="tee" definition="Tee-Object" />
      <alias name="?" definition="Where-Object" />
      <alias name="where" definition="Where-Object" />
      <alias name="write" definition="Write-Output" />

      <alias name="popd" definition="Pop-Location" />
      <alias name="ps" definition="Get-Process" />
      <alias name="pushd" definition="Push-Location" / -->      
    </aliases>
    <variables>
      <variable name="false" type="System.Boolean" value="False" />
      <variable name="NestedPromptLevel" type="System.Int32" value="0" />
    </variables>
  </defaultExecutionContext>
</configuration>
