<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="defaultExecutionContext" type="Pash.Configuration.ExecutionContextConfigurationSection, Pash.Configuration"/>
  </configSections>
  <defaultExecutionContext xmlns="http://pash.sourceforge.net/pash/configuration">
    <psSnapins>
      <psSnapin type="System.Management.Automation.PSCorePSSnapIn, System.Management.Automation"/>
      <psSnapin type="Microsoft.PowerShell.PSUtilityPSSnapIn, Microsoft.PowerShell.Commands.Utility"/>
      <psSnapin type="Microsoft.Commands.Management.PSManagementPSSnapIn, Microsoft.Commands.Management"/>
    </psSnapins>
    <variables>
      <variable name="false" type="System.Boolean" value="False"/>
      <variable name="NestedPromptLevel" type="System.Int32" value="0"/>
    </variables>
  </defaultExecutionContext>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
